---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Hero from '../../components/Hero.astro';
import About from '../../components/About.astro';
import Projects from '../../components/Projects.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="Isaac Mello - Full Stack Developer" description="Isaac Mello's portfolio, full stack developer specialized in C#, Flutter, JavaScript, TypeScript and modern technologies. Transforming ideas into extraordinary digital experiences.">
  <Navbar />
  <main>
    <Hero />
    <About />
    <Projects />
  </main>
  <Footer />
</Layout>
